
    <!-- Page Content -->
    <div class="container">

        <div class="row">
<!-- Navigation -->
<div class="col-lg-2">Navigation</div>
            <!-- Blog Post Content Column -->
             
            <div class="col-lg-6">
                <!-- Blog Post -->
                	<div class="post-list" style="list-style-type: none;">
						{% for post in paginator.posts %} 	
							<h2>
								<img class="title-image" src="{{ "/img/dna.png" | prepend: site.baseurl }}"/>
								<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
							</h2>
							<div class="author" style="margin-top: -10px;">Posted by
								<i class="fa fa-user"></i><a href="http://www.airrayagroup.com/"> {{ post.author}}</a>
								<span class="post-meta"><i class="fa fa-calendar"></i> {{ post.date | date: "%b %-d, %Y" }}</span>
							</div>
							<div class="excerpt">{{ post.excerpt }}</div>
							<div class="readmore" style="float: left;">
								{% if post.content | post_contains_excerpt_tag %}
									<a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
								{% endif %}
							</div>								
					</div>
					<hr>
						<div class="post-list" style="list-style-type: none;">			
							{% endfor %} 
						</div>
					<!-- Pagination links -->
				<span class='st_sharethis' displayText='ShareThis'></span>
				<span class='st_facebook' displayText='Facebook'></span>
				<span class='st_twitter' displayText='Tweet'></span>
				<span class='st_linkedin' displayText='LinkedIn'></span>
				<span class='st_pinterest' displayText='Pinterest'></span>
				<span class='st_email' displayText='Email'></span>
					<!-- Pagination links -->
					<div class="pagination">
					  <ul>
						{% if paginator.previous_page %}

						  {% if paginator.previous_page == 1 %}
							<li><a href="/ltplocal/">Previous</a></li>
						  {% else %}
							<li><a href="/ltplocal/page{{ paginator.previous_page }}">Previous</a></li>
						  {% endif %}

						{% else %}
						  <li><span class="disabled">Previous</span></li>
						{% endif %}

						{% if paginator.page == 1 %}
						  <li><span class="active">1</span></li>
						{% else %}
						  <li><a href="/ltplocal/">1</a></li>
						{% endif %}

						{% for count in (2..paginator.total_pages) %}

						  {% if count == paginator.page %}
							<li><span class="active">{{ count }}</span></li>
						  {% else %}
							<li><a href="/ltplocal/page{{ count }}">{{ count }}</a></li>
						  {% endif %}
						{% endfor %}

						{% if paginator.next_page %}
						  <li><a href="/ltplocal/page{{ paginator.next_page }}">Next</a></li>
						{% else %}
						  <li><span class="disabled">Next</span></li>
						{% endif %}
					  </ul>
					</div>
            </div>

            <!-- Widget -->
            <div class="col-md-4">

                <!-- Blog Search -->
                <div class="well">
                    <h4>Search</h4>
                    <div class="input-group">
					<form action="https://www.google.com" id="cse-search-box">
					  <div>
					    <input type="hidden" name="cx" value="" />
					    <input type="hidden" name="ie" value="UTF-8" />
					    <input type="text" name="q" size="20" />
					    <input type="submit" name="sa" value="Search" />
					  </div>
					</form>
					<script type="text/javascript" src="https://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
				</div>
            </div>
			<div class="well">
			<a class="gofollow" data-track="MzAsMCwxLDYw" href="http://www.parisfintechforum.com/" target="_blank"> 
                        <img src="https://n6zgo3se7pe2sazc62u1v9qe-wpengine.netdna-ssl.com/wp-content/uploads/2017/11/pff_nov_ltp_sidebar.jpg" alt="Paris Fintech Forum" style="width:300px;height:250px;border:1px solid #eeeeee;"></a>
			</div>
               				 <!-- subscribe -->
                <div class="well">
					<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup">
					<form action="https://maplelearning.us1.list-manage.com/subscribe?u=47d56ac42a95b4295600c0e64&id=5f9ede27c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
						<h2>Subscribe to our mailing list</h2>
					<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
					<div class="mc-field-group">
						<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
					</label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
					<div class="mc-field-group">
						<label for="mce-FNAME">First Name </label>
						<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
					</div>
					<div class="mc-field-group">
						<label for="mce-LNAME">Last Name </label>
						<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_47d56ac42a95b4295600c0e64_5f9ede27c9" tabindex="-1" value=""></div>
						<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
					</form>
					</div>

					<!--End mc_embed_signup-->
				</div>

            </div>
        </div>
        <!-- /.row -->
       <hr>